*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: currentcolor;
  text-decoration: none;
  scroll-behavior: smooth;
}
#body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.data{
  display: none;
}
.data.active{
  display: block;
}
